@import url(./style.css);

.conteudoMobile{
    display: grid;    
    grid-template-columns: 1fr;
    grid-template-rows: 50px 1fr 1fr 1fr 1/4fr;
    grid-template-areas:
    "tituloConteudo"
    "card1"    
    "dispositivos"    
    "funcoes"
    ;
}

.conteudoMobile .tituloConteudo{    
    grid-area: tituloConteudo;
    font-size: 23px;
    font-weight: 900;    
    margin-left: 25px;
    line-height: 25px;
}

.conteudoMobile .tituloConteudo small{
    font-weight: 700;
    font-size: 15px;
    color: #526687;    
}

/* -------------------- */

.conteudoMobile .cards{
    grid-area: card1;    
    margin: 5px 15px;
    border-radius: 10px;           
}

.conteudoMobile .cards .recados{
    list-style: none;    
}

.conteudoMobile .cards .recados li{
    background: #E9EDF8;
    margin-bottom: 20px;    
    border-radius: 10px;
    padding: 10px;
}

.conteudoMobile .cards .recados h3{
    padding: 10px;
}

.conteudoMobile .cards .recados p{
    margin: 5px 20px;
}

.conteudoMobile .cards .recados .barraIcones{
    width: 100%;    
    display: flex;
    flex-direction: row;
    justify-content:space-evenly;    
    align-items: center;
    margin-bottom: 10px;
    margin-top: 15px;
}

.conteudoMobile .cards .recados .barraIcones span{
    font-size:smaller;
}

/* --------------------- */

.conteudoMobile .dispositivos{
    grid-area: dispositivos;   
    flex-direction: column; 
}

.conteudoMobile .dispositivos h1{
    margin-top: 10px;
    color: var(--cor-1);
}

.conteudoMobile .dispositivos p{
    color: var(--cor-1);
    font-size: 25px;
}

.conteudoMobile .dispositivos img{
    width: 250px;
    object-fit: fill;
}

.conteudoMobile .funcoes{
    grid-area: funcoes;
    display: flex;
    flex-direction: column;
    text-align: center;
    color: var(--cor-1);
    
}

.conteudoMobile .funcoes ul li{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 20px 30px;
    border: 1px solid #526687;
    border-radius: 10px;
    padding: 10px;
    color:#526687;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.conteudoMobile .funcoes img{    
    width: 60px;
    height: 40px;
    object-fit: fill;
}