@import url(./style.css);
@import url(./styles/mobile/conteudoMobile.css);

.footer{
    padding: 30px 10px;
    margin-top: 20px;       
    background: var(--cor-1);
    color: var(--cor-texto);       
    text-align: center;
}

.footer .contatoTitulo{
    font-size: 18px;
    font-weight: 500;
}

.footer .contatoTexto{
    font-weight: 300;
    margin: 1em 0;
}

.footer .contatoEmail{
    padding: 1em;    
    margin-bottom: 20px;
    border: 1px solid var(--cor-texto);
    border-radius: 24px;
    width: 90%;
    color: #000;
    
}

.footer .contatoEmail::placeholder{ 
    padding: 0.3em;       
    background: url("/img/Email.svg") no-repeat;
    padding-left: 2.5em;
}

.footer .botaoEnviar{
    margin: 0 auto;
    background: #fff;
    color: var(--cor-1);
    padding: 5px;    
    width: 30%;
    border: 1px solid #FFF;
    border-radius: 20px;
}
